TZ=America/Toronto

GOACCESS_PORT=7880

# GoAccess settings
SKIP_ARCHIVED_LOGS=true
DEBUG=false

# Paths
NPM_LOG_PATH=/DATA/AppData/nginxproxymanager/data/logs
GOACCESS_DATA_PATH=/DATA/AppData/goaccess/data
