TZ=America/Toronto
DOCKER_SOCK_PATH=/var/run/docker.sock

PRIVATE_BIND_IP=127.0.0.1
WUD_PORT=3200

# Watcher
WUD_CRON=0 0 */12 * * *
WUD_WATCHBYDEFAULT=true

# Discord
WUD_DISCORD_WEBHOOK=https://discord.com/api/webhooks/your-webhook
WUD_DISCORD_USERNAME=WUD

# Docker Hub
DOCKERHUB_USERNAME=your-username
DOCKERHUB_TOKEN=your-token

# LSCR
LSCR_USERNAME=your-username
LSCR_TOKEN=your-token

# GHCR
GHCR_USERNAME=your-username
GHCR_TOKEN=your-token
