JELLYSTAT_PORT=3000
JELLYSTAT_TELEMETRY=false

JELLYSTAT_DB_NAME=jfstat
JELLYSTAT_DB_USER=jfstat
JELLYSTAT_DB_PASSWORD=change-me
JELLYSTAT_JWT_SECRET=change-this-secret

JELLYSTAT_DB_DATA_PATH=/DATA/AppData/big-bear-jellystat/postgres-data
JELLYSTAT_BACKUP_PATH=/DATA/AppData/big-bear-jellystat/backup-data
