PUID=1000
PGID=1000
TZ=America/Toronto

EMBY_HTTP_PORT=8097
EMBY_HTTPS_PORT=8922

EMBY_CONFIG_PATH=/DATA/AppData/emby
EMBY_TRANSCODE_PATH=/mnt/SSD1Tb/emby-transcode

MEDIA_MOVIES_PATH=/mnt/Seagate3TB/Movie
MEDIA_SERIES_PATH=/mnt/Seagate3TB/Serie
MEDIA_MUSIC_PATH=/mnt/Seagate3TB/Mp3
