
PUID=1000
PGID=1000
TZ=America/Toronto

JELLYFIN_HTTP_PORT=8096
JELLYFIN_HTTPS_PORT=8921
JELLYFIN_DLNAPORT=7359
JELLYFIN_SSDPPORT=1901

JELLYFIN_CONFIG_PATH=/DATA/AppData/jellyfin
JELLYFIN_TRANSCODE_PATH=/mnt/SSD1Tb/jellyfin-transcode

MEDIA_MOVIES_PATH=/mnt/Seagate3TB/Movie
MEDIA_SERIES_PATH=/mnt/Seagate3TB/Serie
MEDIA_MUSIC_PATH=/mnt/Seagate3TB/Mp3

FONTCONFIG_PATH=/opt/vc/lib
