TZ=America/Toronto

WUD_WATCHER_LOCAL_CRON=0 0 */12 * * *
WUD_WATCHER_LOCAL_WATCHBYDEFAULT=true

WUD_TRIGGER_DISCORD_1_URL=CHANGE_ME
WUD_TRIGGER_DISCORD_1_BOTUSERNAME=WUD

WUD_REGISTRY_HUB_PUBLIC_LOGIN=CHANGE_ME
WUD_REGISTRY_HUB_PUBLIC_TOKEN=CHANGE_ME

WUD_REGISTRY_LSCR_PRIVATE_USERNAME=CHANGE_ME
WUD_REGISTRY_LSCR_PRIVATE_TOKEN=CHANGE_ME

WUD_REGISTRY_GHCR_PRIVATE_USERNAME=CHANGE_ME
WUD_REGISTRY_GHCR_PRIVATE_TOKEN=CHANGE_ME
