NAVIDROME_PORT=4533
TZ=America/Toronto

NAVIDROME_DATA_PATH=/DATA/AppData/navidrome
NAVIDROME_MUSIC_PATH=/mnt/Seagate3TB/Mp3

ND_SCAN_INTERVAL=1m
ND_LOG_LEVEL=info
ND_ENABLETRANSCODINGCONFIG=true
ND_SESSION_TIMEOUT=24h

# Optional (Last.fm integration)
ND_LASTFM_APIKEY=
ND_LASTFM_SECRET=
